*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display:flex;
  align-items: center;
  justify-content: center;

  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* --------------------- Первый пункт: Основной лэйаут --------------------- */

.content{
  display:grid;
  width: 1140px;
  gap: 30px;
  
  grid-template-columns: 711px 399px;
  grid-template-rows: 1fr;
  
  grid-template-areas: 
    "result content__details";
  align-items: end;
}

.result{
  grid-area: result;
  min-width: 711px;

}

.content__details{
  grid-area: content__details;
  width: 100%;

}


.search-form{
  width:100%;

  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  gap:40px;

}
/*
.search-form__fieldset{
  flex:1;
}
*/

.content__list-container{
  height: 298px;
  overflow-y:scroll;
}

.title{
  margin-bottom:26px;
}

/* --------------------- Второй пункт: Подгон под размеры --------------------- */

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom:16px;
  overflow: hidden;
}

.result__video {
  width:100%;
  height:100%;
  object-fit: fill;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap:30px;
}

.content__video-card{
  display:flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;

  object-fit: contain;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow:1;
  width: 196px;
  height: 103px;
}

/* --------------------- Второй пункт: Cтили и шрифты --------------------- */

.search-form__fieldset-title{
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
}

.title{
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.content__accent{
  color: #545050;
}

.content__card-link{
  text-decoration: none;
  color: #FFFFFF;
}

.content__video-card-title{
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description{
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 18.3px; /* наиболее подходящий размер, схожий с макетом*/

  width: 196px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* --------------------- Третий пункт: Стилизация форм --------------------- */

.search-form__checkbox-list {
  display:flex;
  gap:15px;
  align-items: center;
}

.search-form__fieldset {
  border:none;
}

.search-form__label {
  display:flex;
  width: fit-content;
}

.search-form__textfield{
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
  border-color: #FFFFFF;
  color: #FFFFFF;
  background-color: transparent;
  appearance: none;
}

.search-form__label:has(.search-form__textfield:focus-visible){
  outline: 1px solid #FFFFFF;
}

.search-form__pseudo-checkbox{
  display: inline-block;
  border: 1px solid #FFFFFF;
  width:19px;
  height: 19px;
  position: relative;
  cursor:pointer;
  margin-right:5px;
}

.search-form__pseudo-checkbox::after{
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width:15px;
  height: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #FFFFFF;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor:pointer;
}
