*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* --------------------- Первый пункт: Основной лэйаут --------------------- */

.content {
  display: grid;
  width: 1140px;
  gap: 30px;
  grid-template-columns: 711px 399px;
  grid-template-rows: 1fr;
  grid-template-areas: "result content__details";
  align-items: end;
}

.result {
  grid-area: result;
  min-width: 711px;
}

.content__details {
  grid-area: content__details;
  width: 100%;
}

.search-form {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 40px;
}

.content__list-container {
  position: relative; /* спозиционировали прелоадер */
  height: 298px;
  overflow: auto;
}

.title {
  margin-bottom: 26px;
}

/* --------------------- Второй пункт: Подгон под размеры --------------------- */

.result__video-container {
  position: relative; /* спозиционировали прелоадер */
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  overflow: hidden;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;

  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 196px;
  height: 103px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
}
/* --------------------- Третий пункт: Cтили и шрифты --------------------- */

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  color: #ffffff;
}

.content__accent {
  color: #545050;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18.3px; /* наиболее подходящий размер, схожий с макетом*/
  width: 196px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* --------------------- Четвертый пункт: Стилизация форм (инпут и чекбокс) --------------------- */

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-style: solid;
  border-width: 1px;
  border-left: none;
  border-right: none;
  border-color: #ffffff;
  color: #ffffff;
  background-color: transparent;
  appearance: none;
  width: 225px;
  height: 27px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  display: flex;
  border: 1px solid #ffffff;
  width: 19px;
  height: 19px;
  cursor: pointer;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: none;
  background-color: #ffffff;
  width: 15px;
  height: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

/* --------------------- Пятый пункт: Стилизация кнопок --------------------- */

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 390px;
  height: 34px;
}

/* --------------------- Шестой пункт: Состояния карточек --------------------- */

.content__list-item {
  display: block;
  padding-left: 3px;
  padding-right: 3px;
}

.content__card-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #ffffff;
}

.content__card-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

.content__card-link_current {
  background-color: #545050;
}
